@using CustomersAJAX.Models
@model Tuple<List<Customer>, Customer>


@*@{Layout = "~/Views/Shared/_Layout.cshtml";

}*@
</br>
@*<div>@Html.TextBox("J","",htmlAttributes:new {@class="form-control"})</div>*@
<br/></br>
<div class="row">
    <div class="col-lg-6">
<form asp-controller="Customer" asp-action="OnFormSubmit" 
      data-ajax="true"
      data-ajax-metod="POST"
      data-ajax-mode="replace"
      data-ajax-update="#customerinfo"
      data-ajax-loading  ="#divloading"
      data-ajax-success="Success"
      data-ajax-failure ="Failure">
      


        <div class="formgroup">
            <h4>@Html.Label("Name")</h4>
            <div>@Html.TextBox("Name", "", htmlAttributes: new { @class = "form-control", id = "Name" })</div> 
        </div>

        <div class="formgroup">
            <h4>@Html.Label("Age")</h4>
            <div>@Html.TextBox("Age", "", htmlAttributes: new { @class = "form-control", id = "Age" })</div> 
        </div>
        <input type="submit" name="Submit" class="btn-btn-block btn-success">
</form>
    </div>
        
   <br>
    <div class="col-log-6">
        <div id="customerinfo">
            <h4>display info here</h4>
        </div>
    </div>
</div>









